In [173]:
import pandas as pd
import numpy as np

In [174]:
pd.__version__

'1.4.4'

In [175]:
dados = pd.read_csv('raw.githubusercontent.com_alexeygrigorev_datasets_master_housing.csv')

In [176]:
dados.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

## Question 2

In [177]:
dados.columns.size

10

## Question 3

In [179]:
dados.isna().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

## Question 4

In [178]:
dados.ocean_proximity.unique().size

5

## Question 5

In [180]:
near = dados[dados.ocean_proximity == 'NEAR BAY']

In [195]:
near.describe().median_house_value

count      2290.000000
mean     259212.311790
std      122818.537064
min       22500.000000
25%      162500.000000
50%      233800.000000
75%      345700.000000
max      500001.000000
Name: median_house_value, dtype: float64

## Question 6

In [182]:
dados.total_bedrooms.mean()

537.8705525375618

In [183]:
dados.fillna(dados.total_bedrooms.mean(), inplace=True)

In [184]:
dados.isna().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

In [185]:
ora.total_bedrooms.mean()

537.8705525375639

## Question 7

In [186]:
islandPlace = dados[dados.ocean_proximity == 'ISLAND']

In [187]:
X = islandPlace[['housing_median_age', 'total_rooms', 'total_bedrooms']]

In [188]:
X = np.array(X)

In [189]:
X

array([[  27., 1675.,  521.],
       [  52., 2359.,  591.],
       [  52., 2127.,  512.],
       [  52.,  996.,  264.],
       [  29.,  716.,  214.]])

In [190]:
XTX = np.matmul(X.T,X)

In [191]:
y = [950, 1300, 800, 1000, 1300]

In [192]:
w = np.matmul(np.matmul(np.linalg.inv(XTX),X.T),y)

In [193]:
w

array([23.12330961, -1.48124183,  5.69922946])